module(name = "duplicate_package_test")
bazel_dep(name = "rules_cps")
local_path_override(module_name = "rules_cps", path = "__RULES_CPS_PATH__")
cps = use_extension("@rules_cps//cps:extensions.bzl", "cps")
cps.package(name = "foo")
cps.package(name = "foo")
use_repo(cps, "foo")
