module(name = "duplicate_variant_test")
bazel_dep(name = "rules_cps")
local_path_override(module_name = "rules_cps", path = "__RULES_CPS_PATH__")
cps = use_extension("@rules_cps//cps:extensions.bzl", "cps")
cps.package(name = "foo")
cps.archive(package = "foo", variant = "same", archive = "@rules_cps//tests/fixtures/basic:basic.tar.gz")
cps.archive(package = "foo", variant = "same", archive = "@rules_cps//tests/fixtures/basic:basic.tar.gz")
use_repo(cps, "foo")
